.aboutInfo {
    display: flex;
    justify-content: space-between;

    @include respond-to("small-medium") {
        flex-direction: column;
    }
}

.aboutInfo__display {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    width: pOfWrapper(575px);

    @include respond-to("small-medium") {
        width: 100%;
    }
}

.aboutInfo__display img {
    display: block;
    width: 100%;
}

.aboutInfo__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: pOfWrapper(520px);

    @include respond-to("small-medium") {
        margin-top: 43px;
        width: 100%;
    }
}


.aboutInfoContent__topHeading {
    font-size: remCalc(12px);
    line-height: remCalc(12px);
    font-weight: $medFontWeight;
    text-transform: uppercase;
    color: $contentTopHeadingColor;
}

.aboutInfoContent__heading {
    margin-top: 20px;
    margin-bottom: 32px;

    font-size: remCalc(22px);
    line-height: remCalc(22px);
    font-weight: $heavyFontWeight;
    text-transform: uppercase;
    color: $contentHeadingColor;
}

.aboutInfoContent__description {
    margin-bottom: 60px;

    font-size: remCalc(14px);
    font-weight: $medFontWeight;
    font-family: $secondaryFont;
    line-height: remCalc(28px);
    color: $contentTextColor;
}

.aboutInfoContent__extraDescription {
    display: none;
}

.aboutInfoContent__descriptionHeading {
    margin-top: 10px;
    margin-bottom: 10px;

    text-transform: uppercase;
    font-family: $primaryFont;
}

.aboutInfoContent__iconsList {
    justify-content: flex-start;
    width: 80%;

    @include respond-to("medium") {
        width: 90%;
    }
}

.aboutInfoContent__readMoreLink {
    display: block;

    border: none;
    

    font-size: remCalc(19px);
    line-height: remCalc(19px);
    text-transform: uppercase;

    background: transparent;

    &:focus {
        outline: none;
    }
    
}

.aboutInfoContent__readMoreLinkText {
    position: relative;
    padding: 0;
    margin: 0;

    &:after {
        display: block;
        position: absolute;
        bottom: 8px; //had to fudge this for alignment.
        left: 50%;
        transform: translate(-50%,0%);

        z-index: $zMinus;

        content:"";

        width: 90%;
        height: 30px;

        background-color: $linkBlockColor;

        transition: all 1s;
    }
}

.aboutInfoContent__readMoreLinkText--active {
    &:after {
        width: 120%;
        height: 40px;
        
    }
}