.contactSection {
    padding-bottom: 100px;
}

.contactSection__container {
    display: flex;
    justify-content: center;

    @include respond-to("medium") {
        flex-direction: column;
        align-items: center;
    }
} 

.contactSection__formSubSection {
    width: pOfWrapper(570px);
    margin-right: 30px;

    @include respond-to("medium") {
        width: 80%;
    }
}

.contactSection__infoSubSection {
    width: 33%;

    @include respond-to("medium") {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 80%;
        padding-top: 76px;
    }

    // @include respond-to("small-medium") {
    //     flex-direction: row;
    //     flex-wrap: wrap;
    // }

}


form.contactForm {
    margin: 0;
    padding: 0;

    font-weight: $heavyFontWeight;

}

form.contactForm .nl-submit-wrap {
    margin-top: 30px;
}

.contactSection__infoHeading {
    margin-bottom: 30px;

    font-size: remCalc(18px);
    font-weight: $medFontWeight;
    line-height: remCalc(18px);
    text-transform: uppercase;
    color: $contactHeadingColor;

    @include respond-to("medium") {
        align-self: flex-start;

        margin-bottom: 50px;
    }

    @include respond-to("small-medium") {
        width: 100%;
    }

}

.socialMediaIcons {
    @include respond-to("medium") {
        width: 50%;
    }

    @include respond-to("small") {
        width: 90%;
    }
}

.socialMediaIcons__list {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    margin-bottom: 56px;

    @include respond-to("medium") {
        justify-content: space-between;
    }

    // @include respond-to("small-medium") {
    //     justify-content: flex-start;
    //     margin-bottom: 36px;
    // }

}

.socialMediaIcons__item {
    margin: 5px;

    &:first-child {
        margin-left: 0px;
    }

    @include respond-to("medium") {
        &:first-child {
            margin-left: 5px;
        }
    }

}

.socialMediaIcons__item--twitter {
    background-color: #21aeff;
}

.socialMediaIcons__item--linkedin {
    background-color: #0077b5;
}

.socialMediaIcons__item--github {
    background-color: #3f3f3f;
}

.socialMediaIcons__item--contact {
    background-color: $contactIconShapeColor;
}

.socialMediaIcon__shape {
    color: transparent;
}



address.contactInfo {
    width: 90%;
}

.contactInfo__list {
    @include respond-to("medium") {
        display: flex;
        justify-content: space-between;

        width: 100%;
    }

    @include respond-to("small") {
        flex-wrap: wrap;
        justify-content: center;
    }

    // @include respond-to("small-medium") {
    //     flex-direction: column;
    //     // align-items: center;
    //     align-content: center;


    // }
}

.contactInfo__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 50px;

    font-size: remCalc(13px);
    line-height: remCalc(13px);
    font-weight: $medFontWeight;
    color: $contentTextColor;

    font-style: normal;

    &:last-child {
        margin-bottom: 0px;
    }

    @include respond-to("medium") {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 10px;
        }
    }

    @include respond-to("small-medium") {
        flex-direction: column;
    }

    @include respond-to("small") {
        margin: 10%;
    }

}

.contactInfoIcon {
    display: block;
    margin-right: 20px;

    @include respond-to("small-medium") {
        margin: 0;
        margin-bottom: 20px;
    }

    
}


.contactInfoIcon__shape {
    color: $contactIconShapeColor;
}

.contactInfoIcon__symbol {
    //to latch onto FontAwesome stack,
    //need to use before element.
    &::before {
        color: $contactIconSymbolColor;
    }
}

.contactInfo__itemText {
    @include respond-to("small") {
        display: none;
    }
}

