footer {
    padding-bottom: 200px;
}

.footerNav__list {
    display: flex;
    justify-content: space-between;

    width: 385px;
    margin: 0 auto;
}

.footerNav__item a {
    font-size: remCalc(14px);
    text-transform: none;
}