footer {
    padding-bottom: 200px;
}

.footerNav__list {
    display: flex;
    justify-content: space-between;

    width: 385px;
    margin: 0 auto;

    @include respond-to("small") {
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
    }
}

.footerNav__item a {
    display: block;
    padding: 20px;

    font-size: remCalc(14px);
    text-transform: none;

    @include respond-to("small") {

    }
}