.mainHeader {
    @include respond-to("small-medium") {
        min-height: 100vh;
    }
}

.titleBar {
    display: flex;
    justify-content: space-between;
    position: fixed;

    z-index: $zFront;

    width: 100%;

    background-color: $secondaryColor;

    @include respond-to("small") {
        min-width: 290px;
        
    }

}

.titleBar__logo {
    // width: remCalc(131px);
    padding: 18px 32px;


    text-align: center;

    font-size: remCalc(19px);
    font-weight: $medFontWeight;
    letter-spacing: remCalc(6px);
    line-height: remCalc(19px);
    text-transform: uppercase;
    color: $secondaryColor;
    
    background-color: $logoBackgroundColor;
}

.mainNav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 320px;
    margin-right: 62px;

    

    @include respond-to("small-medium") {
        // position: fixed;
        margin-right: 38px;
        width: 45%;
    }

    @include respond-to("small") {
        // position: fixed;
        width: 10%;
        margin-right: 15px;
        
    }
}

.mainNav__container {
    // // display: flex;
    // // flex-direction: column;
    // // justify-content: center;
    // position: relative;
    @include respond-to("small") {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    

    // @include respond-to("small-medium") {
    //     align-items: flex-end;
    //     position: fixed;

    //     width: 30%;
    //     right: 32px;

    //     margin-right: 0;
    // }
}

.mainNav__hamburger {
    display: none;

    // position: fixed;
    // right: 32px;

    z-index: $zFront;

    max-width: 44px;
    padding: 10px 14px;

    text-align: center;
    font-size: remCalc(20px);
    line-height: remCalc(20px);
    font-weight: $medFontWeight;
    color: $secondaryColor;
    
    border: none;
    outline: none;
    background-color: $primaryColor;


    @include respond-to("small") {
        display: block;
        // position: fixed;
    }
}

.mainNav__list {
    display: flex;
    justify-content: space-between;

    @include respond-to("small") {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;

        // padding-top: 10px;
        // padding-left: 20px;
        // padding-right: 20px;

        background-color: $secondaryColor;
    }



    // @include respond-to("small-medium") {
    //     // display: none;
    //     flex-direction: column;
    //     // position: fixed;

    //     margin-top: 10px;
    // }
}

.mainNav__list--open {
    @include respond-to("small") {
        display: block;
    }
}

// .mainNav__list--open {
//     position: fixed;
// }

.mainNav__item {
    @include respond-to("small") {
        text-align: right;        
    }
}

.mainNav__item a {
    display: block;
    font-size: remCalc(12px);
    font-weight: $heavyFontWeight;

    @include respond-to("small") {
        padding: 15px 20px 15px 20px;
    }
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-height: remCalc(586px);
    padding-bottom: 156px;

    @include respond-to("small-medium") {
        padding-bottom: 0;
    }
}

.introduction__content {
    // width: pOfWrapper(560px);
    max-width: 560px;

    @include respond-to("large") {
        max-width: 70%;
    }

    @include respond-to("small") {
        max-width: 90%;
    }

    // @include respond-to("medium") {
    //     max-width: 70%;
    // }
}

.introduction__topHeading {
    font-size: remCalc(60px);
    font-weight: $heavyFontWeight;
    line-height: remCalc(60px);

    text-transform: uppercase;
}

.introduction__heading {
    margin: 36px 0px;

    font-size: remCalc(36px);
    font-weight: $lightFontWeight;
    line-height: remCalc(36px);
    color: $primaryColor;
}

.introduction__description {
    font-size: remCalc(16px);
    font-weight: $lightFontWeight;
    line-height: remCalc(30px);
    color: $sectionTextColor;
}
    