.titleBar {
    display: flex;
    justify-content: space-between;

}

.titleBar__logo {
    // width: remCalc(131px);
    padding: 18px 32px;


    text-align: center;

    font-size: remCalc(19px);
    font-weight: $medFontWeight;
    letter-spacing: remCalc(6px);
    line-height: remCalc(19px);
    text-transform: uppercase;
    color: $secondaryColor;
    
    background-color: $logoBackgroundColor;
}

.mainNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    width: 320px;
    margin-right: 62px;

    @include respond-to("small-medium") {
        align-items: flex-end;
        position: fixed;

        width: 30%;
        right: 32px;

        margin-right: 0;
    }
}

.mainNav__hamburger {
    display: none;

    // position: fixed;
    // right: 32px;

    z-index: $zFront;

    padding: 10px 14px;

    font-size: remCalc(20px);
    line-height: remCalc(20px);
    font-weight: $medFontWeight;
    color: $secondaryColor;
    
    border: none;
    background-color: $primaryColor;

    @include respond-to("small-medium") {
        display: block;
        // position: fixed;
    }
}

.mainNav__list {
    display: flex;
    justify-content: space-between;

    @include respond-to("small-medium") {
        // display: none;
        flex-direction: column;
        // position: fixed;

        margin-top: 10px;
    }
}

.mainNav__list--open {
    position: fixed;
}

.mainNav__item {
    @include respond-to("small-medium") {
        text-align: right;

        margin-bottom: 10px;
    }
}

.mainNav__item a {
    font-size: remCalc(12px);
    font-weight: $heavyFontWeight;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-height: remCalc(586px);
    padding-bottom: 156px;
}

.introduction__content {
    // width: pOfWrapper(560px);
    max-width: 560px;

    @include respond-to("large") {
        max-width: 70%;
    }

    // @include respond-to("medium") {
    //     max-width: 70%;
    // }
}

.introduction__topHeading {
    font-size: remCalc(60px);
    font-weight: $heavyFontWeight;
    line-height: remCalc(60px);

    text-transform: uppercase;
}

.introduction__heading {
    margin: 36px 0px;

    font-size: remCalc(36px);
    font-weight: $lightFontWeight;
    line-height: remCalc(36px);
    color: $primaryColor;
}

.introduction__description {
    font-size: remCalc(16px);
    font-weight: $lightFontWeight;
    line-height: remCalc(30px);
    color: $sectionTextColor;
}
    