
.portfolioGallery__item {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.portfolioGallery__item:nth-child(even) .portfolioItem {
    flex-direction: row-reverse;

    @include respond-to("small-medium") {
        display: flex;
        flex-direction: column-reverse;
    }
}

.portfolioItem {
    display: flex;
    justify-content: space-between;

    @include respond-to("small-medium") {
        display: block;
        position: relative;
    }

    @include respond-to("small-medium") {
        display: flex;
        flex-direction: column-reverse;
    }
}

.portfolioItemInfo {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: $zOne;

    width: pOfWrapper(370px);
    border: 10px solid $primaryColor;
    
    @include respond-to("medium") {
        flex: 1.4;

        .portfolioGallery__item:nth-child(odd) & {
            margin-left: 0%;
            margin-right: 2%;
        }

        .portfolioGallery__item:nth-child(even) & {
            margin-left: 2%;
            margin-right: 0%;
        }
        
        
    }

    @include respond-to("small-medium") {
        position: absolute;
        top: 50%;
        transform: translate(0%,-50%);

        padding: 10px;
        width: 42%; //magic number to get aspect ratio
        min-height: 90%;

        border-color: transparent;
        background-color: $secondaryColor;
        
        .portfolioGallery__item:nth-child(odd) & {
            margin: 0;
            margin-left: 15px;
        }

        .portfolioGallery__item:nth-child(even) & {
            right: 0;

            margin: 0;
            margin-right: 15px;
        }
        
    }

    @include respond-to("small") {
        position: relative;

        transform: none;

        width: 100%;

        .portfolioGallery__item:nth-child(odd) & {
            margin: 0;
        }

        .portfolioGallery__item:nth-child(even) & {
            margin: 0;
        }
        
    }

}

.portfolioItemInfo__content {
    width: 65%;

    @include respond-to("medium") {
        width: 80%;
    }

    @include respond-to("small-medium") {
        position: relative;
    }

    @include respond-to("small") {
        width: 90%;
    }
}


.portfolioGallery__item:nth-child(even) .portfolioItemInfo__content {
    text-align: right;
}



.portfolioItemInfo__link {
    font-size: remCalc(13px);
    font-weight: $lightFontWeight;
    line-height: remCalc(13px);
    letter-spacing: 0;
    color: $portfolioIconColor;

}

.portfolioItemInfo__heading {
    margin-top: remCalc(30px);
    margin-bottom: remCalc(16px);

    font-size: remCalc(18px);
    line-height: remCalc(18px);
    font-weight: $medFontWeight;
    color: $portfolioItemHeadingColor;

    @include respond-to("medium") {
        margin-top: remCalc(15px);
        margin-bottom: remCalc(16px);
    }
}

.portfolioItemInfo__description {
    margin-bottom: 15px;
    
    font-size: remCalc(12px);
    line-height: remCalc(24px);
    font-weight: $lightFontWeight;
    color: $portfolioItemTextColor;
}


.devIcons__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    list-style-type: none;
    
}


a.portfolioItemDisplay {
    display: flex;
    justify-content: center;
    align-items: center;

    transform: none;
}

.portfolioItemDisplay {
    position: relative;

    width: pOfWrapper(770px);


    // background-color: black;

    overflow: hidden; //Chrome browser bug (to avoid 1px right border issue)
    //see .portfolioItemDisplay img for additional fix

    @include respond-to("medium") {
        flex: 1.758;
    }

    @include respond-to("small-medium") {
        width: 100%;
    }
}

.portfolioItemDisplay img {
    display: block;
    width: calc(100% + 1px); //Chrome browser bug fix to eliminate right border.
    height:auto;

    filter: brightness(150%)
            grayscale(90%);

    transition: all 1s;

    

    
}

.portfolioItemDisplay:hover img {
    filter: none;
}

.portfolioItemDisplay__overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -1px;
    

    background: linear-gradient(to bottom, rgba(255, 94, 98, 0.15), rgba(255, 153, 102, 0.6));
    
    opacity: 1;
    
    transition: all 1s;

    .portfolioItemDisplay:hover & {
        opacity: 0;
    }

}