
.portfolioGallery__item {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.portfolioGallery__item:nth-child(even) .portfolioItem {
    flex-direction: row-reverse;

    @include respond-to("small-medium") {
        display: flex;
        flex-direction: column-reverse;
    }
}

.portfolioItem {
    display: flex;
    justify-content: space-between;

    @include respond-to("small-medium") {
        display: block;
        position: relative;
    }

    @include respond-to("small-medium") {
        display: flex;
        flex-direction: column-reverse;
    }
}

.portfolioItemInfo {
    display: flex;

    border: 10px solid $primaryColor;
    // flex-direction: column;
    // justify-content: flex-end;
    

    justify-content: center;
    align-items: center;

    width: pOfWrapper(370px);

    @include respond-to("medium") {
        // flex: 1.18;
        flex: 1.4;
        // width: 40%;
        .portfolioGallery__item:nth-child(odd) & {
            margin-left: 0%;
            margin-right: 2%;
        }

        .portfolioGallery__item:nth-child(even) & {
            margin-left: 2%;
            margin-right: 0%;
        }
        
        
    }

    @include respond-to("small-medium") {
        position: absolute;
        top: 50%;
        transform: translate(0%,-50%);

        padding: 10px;
        width: 42%; //magic number to get aspect ratio
        min-height: 90%;

        border-color: transparent;
        background-color: $secondaryColor;
        
        .portfolioGallery__item:nth-child(odd) & {
            margin: 0;
            margin-left: 15px;
        }

        .portfolioGallery__item:nth-child(even) & {
            right: 0;

            margin: 0;
            margin-right: 15px;
        }
        
    }

    @include respond-to("small") {
        position: relative;

        transform: none;

        width: 100%;

        .portfolioGallery__item:nth-child(odd) & {
            margin: 0;
        }

        .portfolioGallery__item:nth-child(even) & {
            margin: 0;
        }
        
    }


    

    // padding: 110px 50px;
}

.portfolioItemInfo__content {
    width: 65%;

    @include respond-to("medium") {
        width: 80%;
    }

    @include respond-to("small-medium") {
        position: relative;
    }

    @include respond-to("small") {
        width: 90%;
    }
}


.portfolioGallery__item:nth-child(even) .portfolioItemInfo__content {
    text-align: right;
}



.portfolioItemInfo__link {
    font-size: remCalc(13px);
    font-weight: $lightFontWeight;
    line-height: remCalc(13px);
    letter-spacing: 0;
    color: $portfolioIconColor;

    // @include respond-to("small-medium") {
    //     position: absolute;

    //     .portfolioGallery__item:nth-child(odd) & {
    //         top: 0;
    //         right: 0;
    //         transform: translate(-40%,10%);
    //     }

    //     .portfolioGallery__item:nth-child(even) & {
    //         top: 0;
    //         left: 0;
    //         transform: translate(40%,20%);
    //     }

        
    // }
}

.portfolioItemInfo__heading {
    margin-top: remCalc(30px);
    margin-bottom: remCalc(16px);

    font-size: remCalc(18px);
    line-height: remCalc(18px);
    font-weight: $medFontWeight;
    color: $portfolioItemHeadingColor;

    @include respond-to("medium") {
        margin-top: remCalc(15px);
        margin-bottom: remCalc(16px);
    }
}

.portfolioItemInfo__description {
    margin-bottom: 15px;
    
    font-size: remCalc(12px);
    line-height: remCalc(24px);
    font-weight: $lightFontWeight;
    color: $portfolioItemTextColor;
}


.devIcons__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    list-style-type: none;
    

    // .portfolioGallery__item:nth-child(even) & {
    //     // justify-content: flex-end;
    // }
}


.portfolioItemDisplay {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    width: pOfWrapper(770px);

    // overflow: hidden;

    background-color: black;

    @include respond-to("medium") {
        // width: calc(60% - 30px); //30px: margin
        // padding: 0 5%;
        flex: 1.758;
    }

    @include respond-to("small-medium") {
        width: 100%;
    }
}

.portfolioItemDisplay img {
    display: block;
    width: 100%;
    height:auto;
}