$htmlFontSize: 10px;
$wrapperMaxWidth: 1170px;

$lightFontWeight: 300;
$medFontWeight: 400;
$heavyFontWeight: 600;

$logoBackgroundColor: #090909;

$primaryColor: #202020;
$sectionTextColor: #777777;

$contentTopHeadingColor: #989797;
$contentHeadingColor: #3b3b3b;
$contentTextColor: #666666;

$portfolioItemTextColor: #9c9797;
$portfolioItemHeadingColor: #000000;
$portfolioIconColor: #bababa;

$linkBlockColor: #e7e7e7;








