$htmlFontSize: 10px;
$wrapperMaxWidth: 1170px;

$lightFontWeight: 300;
$medFontWeight: 400;
$heavyFontWeight: 600;

$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Droid Serif', serif;

$logoBackgroundColor: #090909;

$primaryColor: #202020;
$secondaryColor: #fff;
$sectionTextColor: #777777;

$contentTopHeadingColor: #989797;
$contentHeadingColor: #3b3b3b;
$contentTextColor: #666666;

$portfolioItemTextColor: #9c9797;
$portfolioItemHeadingColor: #000000;
$portfolioIconColor: #acacac;
$portfolioIconBorderColor: #bababa;


$linkBlockColor: #e7e7e7;








