$htmlFontSize: 10px;
$wrapperMaxWidth: 1170px;

$zBack: -999999;
$zMinus: -10;
$zOne: 10;
$zFront: 999999;

$lightFontWeight: 300;
$medFontWeight: 400;
$heavyFontWeight: 600;

$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Droid Serif', serif;
$logoFont: 'VT323', monospace;

$logoBackgroundColor: #090909;

$primaryColor: #202020;
$secondaryColor: #fff;
$sectionTextColor: #777777;

$contentTopHeadingColor: #989797;
$contentHeadingColor: #3b3b3b;
$contentTextColor: #666666;

$portfolioItemTextColor: #9c9797;
$portfolioItemHeadingColor: #000000;
$portfolioIconColor: #acacac;
$portfolioIconBorderColor: #bababa;

$contactHeadingColor: #262626;
$contactIconShapeColor: #f3f3f3;
$contactIconSymbolColor: #989898;

$formInputColor: #d7d7d7;
$formInputActiveColor: #f3f3f3;
$formBtnColor: #353535;
$formbtnTextColor: #fff;

$linkBlockColor: #e7e7e7;








